
body {
    color: rgb(0, 247, 164);
    font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(240, 231, 255);
     margin: 16px;
    padding: 24px;
    

}

.header{

    color: #6d1f1f;
}


h1{
    color: #920E00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    padding: 4px;
}

.header img {
    width    : 100%;
    max-width: 56px;
}

.nav-component .nav__link {
    padding-inline: 8px;
    color         : #a1a8ff;
}

h2{
    color: #8c94ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    gap             : 30px;
    width           : 75%;
    
    padding         : 24px;
    background-color: rgb(204, 172, 255);
    border          : 2px solid #000069;
    border-radius   : 8px;
    opacity         : 0.5;
     text-align     : center;
  
}

.flex-container {
    display         : flex;
    gap             : 10px;
    width           : 50%;
    padding         : 16px;
    background-color: #eee;
    align-items: center;
    direction: row;
}

.text2{
    color: #a31000;
    font-size: 16px;
    font:bold;
}

.text{
    color: #920E00;
    font-size: 16px;
    margin-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.Quédate{
    margin-bottom: 24px ;
}

.all header{
    text-decoration: underline;
}
